.FavoritesHotels_list_item{
  display: flex;
  justify-content: space-between; 
}
.FavoritesHotels_list_item{
  padding: 15px 0;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
}
.FavoritesHotels_svg{
  fill: #ff2802;
}