.FavoritesHotels_list {
}
.FavoritesHotels_block_one,
.FavoritesHotels_block_two {
  display: flex;
}
.FavoritesHotels_block_one {
  padding: 4px 0;
}
.FavoritesHotels_block_two {
  justify-content: space-between;
}
.FavoritesHotels_list_item {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #878787;
}
.FavoritesHotels_list_item_head {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #424242;
}
.test{
  padding-top: 30px;
}