.ChooseHotels {
  padding: 32px 35px 0 32px;
  background: #e5e5e5;
}
.ChooseHotels_items {
  padding: 92px 184px 26px 209px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
