.HotelItem_list_item {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
}
.HotelItem_list_item_head {
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 22px;
/* or 129% */

letter-spacing: -0.408px;

color: #424242;
  /* display: flex;
  align-items: center; */
} 
.HotelItem_list_img {
  padding-right: 24px;
}
.HotelItem_block_zero {
  display: flex;
  justify-content: space-between;
}
.HotelItem_block_date{
  display: flex;
}
.HotelItem_svg {
  border: none;
  background: none;
}

.HotelItem_list_item_date, .HotelItem_list_item_day{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  
  letter-spacing: -0.408px;
  
  color: #878787;
}

.HotelItem_list_item_one{
  display: flex;
  justify-content: space-between;
}
.HotelItem_price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 22px;
  /* or 200% */

  letter-spacing: -0.408px;

  color: #878787;
}
.place_price{
  font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 22px;
/* or 129% */

text-align: right;
letter-spacing: -0.408px;

color: #424242;
}
.active {
  fill: #ff2802;
}
